@tailwind base;
@tailwind components;
@tailwind utilities;

.font-pathway {
  font-family: "Pathway Gothic One", sans-serif;
}

table tbody tr {
  border-bottom: 1px solid #000;
}

#globeButton {
  display: inline-flex;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  vertical-align: middle;
}

#globeButton svg {
  width: 18px;
  height: 18px;
}

#globeButton:hover {
  color: #888888;
}

.status {
  display: flex;
  gap: 10px;
}

.release-btn {
  padding: 3px 10px;
  margin-right: -20px;
  border: none;
  border-radius: 20px;
  color: #eeeeee;
  background-color: green;
  cursor: pointer;
}

.release-btn:hover {
  color: #888888;
}

.return-btn {
  padding: 3px 10px;
  margin-right: -20px;
  border: none;
  border-radius: 20px;
  color: #eeeeee;
  background-color: green;
  cursor: pointer;
}

.return-btn:hover {
  color: #888888;
}

.admin-table {
  border-collapse: collapse;
  width: 100%;
}

.header-req {
  margin: -5px 0 5px 0;
}

.pagination {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  bottom: 0;
}

.select-opt {
  width: auto;
  margin: 0;
  font-size: 14px;
  padding: 2px 3px;
  border: none;
  border-radius: 10px;
  background-color: #d9d9d9;
  cursor: pointer;
}

.select-opt:hover {
  background-color: #c9c9c9;
}

.select-opt option {
  background-color: #d9d9d9;
  color: black;
}

.approve-btn {
  position: absolute;
  right: 0;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  color: green;
  margin: 0;
  padding: 0;
}

.approve-btn:hover {
  color: rgb(1, 95, 1);
}
