@tailwind base;
@tailwind components;
@tailwind utilities;

.font-pathway {
  font-family: "Pathway Gothic One", sans-serif;
}

table tbody tr {
  border-bottom: 1px solid #000;
}

#globeButton {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

#globeButton:hover {
  color: #888888;
}

.status {
  display: flex;
  gap: 10px;
}

.release-btn {
  margin-right: -20px;
  border: none;
  border-radius: 20px;
  color: #eeeeee;
  background-color: green;
  cursor: pointer;
}

.release-btn:hover {
  color: #888888;
}

.return-btn {
  margin-right: -20px;
  border: none;
  border-radius: 20px;
  color: #eeeeee;
  background-color: green;
  cursor: pointer;
}

.return-btn:hover {
  color: #888888;
}
