.page-main-content-car {
  position: fixed;
  margin-top: 80px;
  margin-left: 15.7vw;
  margin-right: 1vw;
  width: calc(100vw - 17vw);
  height: calc(100vh - 22vh);
  padding: 0;
}

.page-content-car {
  position: relative;
  width: calc(100vw - 17vw);
  height: calc(100vh - 22vh);
  padding: 5px;
  background: #f8f8f8;
  box-shadow: 0px 0px 3px #000;
  position: relative;
}

.page-content-maintenance {
  position: relative;
  margin-top: 10px;
  margin-left: 16vw;
  margin-right: 1vw;
  width: auto;
  height: calc(100vh - 55vh);
  overflow-y: auto;
  padding: 5px;
  background: #f8f8f8;
  box-shadow: 0px 0px 3px #000;
}

.add-car-btn {
  position: absolute;
  right: 5px;
  top: 5px;
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 18px;
  border: none;
  background-color: #d9d9d9;
  border-radius: 20px;
  padding: 5px 10px;
  cursor: pointer;
}

.add-icon {
  font-weight: bold;
  vertical-align: -3px;
  color: white;
  background-color: #000;
}

.add-car-btn:hover {
  color: white;
  background-color: #797979;
}

.add-car-btn:hover .add-icon {
  background-color: white;
  color: #797979;
}

.edit-icon {
  cursor: pointer;
  position: absolute;
  right: 10px;
}

.edit-icon:hover {
  color: #797979;
}

/* Tabs CSS */
.btn-container {
  margin-top: 10px;
  display: flex;
  gap: 150px;
}

.cars-container {
  display: flex;
  gap: 1px;
  margin-right: 1vw;
}

.cars-container button {
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 24px;
  padding: 5px 20px;
  border: none;
  background-color: #d9d9d9;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
}

.cars-container button:hover {
  background-color: #c9c9c9;
}

.cars-container button.active {
  background-color: #4a4a4a;
  color: white;
  font-weight: bold;
  cursor: default;
}
